<html>
  <head>
    <script type='text/javascript' src='../public/JSON/19-20.json'></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='../public/Stylesheet/stylesheet.css'>
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
  </head>
  <body>
    <div>
      <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/stars">Stars<span class="sr-only">(current)</span></a></li>
              <li><a href="/admin">Admin</a></li>
              <li><a href="/contact">Contact us</a></li>
          </ul>
        </nav>
      </div>
      <br/>
    </div>
    <div class="jumbotron">
        <table id='starsTable'>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Stars</th>
                    <th>Gains/Losses</th>
                </tr>
            </thead>
        </table>
    </div>
    <script type='text/javascript' src='../public/Script/script.js'></script>
  </body>
</html>